
body {
      background: #222;
      color: #fff;
      overflow-x: hidden;
}
#overlay {
      position: absolute;
      top: 0;
      left:0;
      z-index: 1;
}
#container {
      position : relative;
      width : 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      /*margin : 0px auto;*/
}
#content {
      max-width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
}
#deco{
      z-index: 2;
      position: absolute;
      height: auto;
      background-color: rgba(0,255,0,0.15);
      top: 0;
      left:0;
}



h2 {
      font-weight : 400;
}
.nogum {
      display : none;
}
.btn {
      font-family: 'Lato';
      font-size: 16px;
}
.hide {
      display : none;
}
.nohide {
      display : block;
}

/*!
 * "DSEG14ModernMini-Regular" is lisenced under the SIL Open Font License 1.1
 * by けしかん http://www.keshikan.net/fonts.html
 */
@font-face {
font-family: 'FontScouter';
src: url('../font/DSEG14ModernMini-Regular.woff') format('woff'),
     url('../font/DSEG14ModernMini-Regular.ttf') format('truetype');
}
.scoutercharacter{
      font-family: FontScouter;
      font-size: 12px;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
